body {
    background-color: rgb(159, 173, 200);
}

.movie-card{
    border: 1px solid slategray;
    border-radius: 5px;
    padding: 10px;
    background: white;
}

.movie-card img {
    max-width: 100%;
    border-radius: 5px;
}